@import '../../breakpoint';

.background {
  margin-top: 3rem;
  font-family: 'Poppins', sans-serif;
  .title-back {
    background-color: #ff6b6c;
    padding: 0.6rem;
    h2 {
      font-size: clamp(2rem, 10vw + 0.5rem, 2rem);
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: white;
    }
  }

  p {
    text-align: center;
    font-size: 1rem;
  }
  figure {
    background: linear-gradient(to right, #b8b8d1, #5b5f97);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 77dvh;
    .img {
      width: 50%;
    }
  }
  .icon {
    font-size: 5rem !important;
  }
}
